<h1>商品一覧</h1>
<table class="table-hover">
<% @items.each do |item| %>
  <tr>
  <% if item.is_active then%>
  <td><%= image_tag item.get_image("200") %></td>
  <td><%= link_to item.name, item_path(item.id) %></td>
  <td><%= item.with_tax_price %> 円 </td>
  <td></td>
  </tr>
  <% end %>
<% end %>
</table>